@page "/dicetest"

@using EagleTP.Data
@using System.IO
@inject DiceService myDiceService

<h3>Dicetest</h3>

@if (myDice == 0)
{
    <p>Roll dice</p>
}
else
{
    <p>@myDice</p>
}
<button @onclick="DiceMe">Roll Dice!</button>


@code {

    private int myDice;
    
    /*protected override async Task OnInitializedAsync()
    {
        myQuestion = await myCard.ReadCard();
    }*/
    private async Task DiceMe()
    {
        myDice = await myDiceService.Roll();
        using (StreamWriter writer = File.CreateText("dice.txt"))
        {
            await writer.WriteAsync(myDice.ToString());
        }
    }
}
